button {
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
    box-shadow: 1px 1px 5px RGBA(0, 0, 0, .1);
}

.first-button {
    border-radius: 5px;
    background-color: whitesmoke;
}

.second-button {
    border-radius: 0 5px 5px 0;
    height: 36px;
    background-color: #A6D160;
    position:relative;
    right: 1px;

}